/**
 * Style sheet for medium viewports
 */

 /**
  * Thematic separation
  */
 hr {
   border-color: grey;
 }

/**
 * Section masthead
 */
section .masthead {
  min-height: 100px;
}

section .masthead span {
  font-size: 2em;
}

/**
 * Portfolio section
 */
#portfolio img {
  max-width: 225px;
  max-height: 141px;
}
