/**
 * Global styles
 */


html {
   min-height: 100%
 }

body {
  font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  /* ensure hit area is large enough for mobile */
  min-width: 48px;
  min-height: 48px;
}

/**
 * Page header htyles
 **/
header #logo {
  max-width: 48px;
  max-width: 48px;
  border-radius: 10%; /** soften the image border */
}

header #name-title-wrapper {
  float: right;
}

header #name-title-wrapper h1, header #name-title-wrapper h2 {
  text-align: right;
  margin: 5px;
}

/**
 * Thematic separation
 */
hr {
  border: solid;
  border-width: 1px;
  width: 100%;
}

/**
 * Section styles
 **/
 section h3 {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 2px;
 }

 /**
  * Section mastheads
  */
section .masthead {
   position: relative;
   min-height: 150px;
   /* ensure the masthead takes the entire width of the section. */
   width: 100%;
 }

section .masthead::after {
     content : "";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     /* TODO: replace img with licenced one from Shutterstock */
     background-image: url("../img/development-skills.jpg");
     background-size: cover;
     background-position: bottom;
     width: 100%;
     height: 100%;
     opacity : 0.3;
     z-index: -1;
 }

section .masthead span {
   font-size: 3em;
   font-weight: normal;
   margin: 0px;
   position: absolute;
   bottom: 5px;
   right: 5px;
 }

/**
 * Portfolio section
 */
#portfolio {
  /* enable flexbox */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /* layout as rows */
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* wrap flex rows */
  flex-wrap: wrap;
}

#portfolio figure {
  display: inline-block;
  margin: 5px;
}

#portfolio img {
  margin: 5px;
  /* ensure image resizes */
  width: 100%;
  height: 100%;
  /* don't let image get too large */
  max-width: 300px;
  max-height: 188px;
}

#portfolio figcaption {
  text-align: center;
  caption-side: bottom;
}

#portfolio .github-link {
  display: block;
  text-align: center;
}

#portfolio .tech-used {
  display: block;
  text-align: center;
  margin: 2px;
}

article {
  /** allow visually pleasing separation when articles stack vertically */
  margin-top: 10px;
  /** allow visually pleasing separation when articles stack horizontally */
  margin-left: 10px;
  margin-right: 10px;
}
