/**
 * Style sheet for small viewports
 */

/**
 * Page header htyles
 **/

header #name-title-wrapper {
  float: none;
}

header #name-title-wrapper h1 {
  text-align: left;
  font-size: 1.5em;
}

header #name-title-wrapper h2 {
  text-align: left;
  font-size: 1em;
}
/**
 * Thematic separation
 */
hr {
  border-color: lightgrey;
}

/**
 * Section masthead
 */
section .masthead {
  min-height: 75px;
}

section .masthead span {
  font-size: 1em;
}

/**
 * Portfolio section
 */
#portfolio img {
  max-width: 150px;
  max-height: 94px;
}
